<!DOCTYPE html>
<html ng-app="dropbox">
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple File Uploader</title>
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script type="text/javascript"
            src="https://cdn.rawgit.com/jquery/jquery-mousewheel/3.1.12/jquery.mousewheel.js"></script>
    <script type="text/javascript"
            src="https://cdn.rawgit.com/igorlino/fancybox-plus/1.3.6/src/jquery.fancybox-plus.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.rawgit.com/igorlino/fancybox-plus/1.3.6/css/jquery.fancybox-plus.css" media="screen"/>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <script src='https://cdn.rawgit.com/igorlino/angular-elevatezoom-plus/1.1.3/js/angular-ezplus.js'></script>


    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="css/files.css">
    <link rel="stylesheet" type="text/css" href="css/upload-form.css">

    <!-- serverConfig -->
    <script src="js/serverConfig.js"></script>

    <script src='libs/angular-fancybox-plus.js'></script>
    <script src="js/dropbox.js"></script>
    <script src="js/dropbox.directive.js"></script>
    <script src="js/dropbox.controller.js"></script>
    <script src="js/dropbox.service.js"></script>
</head>
<body>


<div id="content">
    <div class="file-container" ng-controller="PictureDisplayController as vm">

        <div ng-repeat="picture in vm.pictures">
            <div ng-class="picture.ratioClass">
                <a rel="picture_group"
                   title="{{picture.name}}"
                   ng-href="{{picture.urlLink}}"
                   fancyboxable="picture">
                    <img alt="" ng-src="{{picture.urlLink}}">
                </a>

                <form ng-submit="vm.deletePicture(picture.id)">
                    <button type="submit" class="close" title="Delete file">&times;</button>
                </form>
            </div>
        </div>

        <div class="upload-block">
            <div class="upload-block__item upload-block__item--big">
                <input type="file"
                       file-model="myFile"
                       class="inherit-width upload-item-input"
                       multiple
                       accept="image/*"
                       required
                       style="height:100%; width:100%"/>
            </div>
            <div class="upload-block__item">
                <input type="button" ng-click="vm.uploadFile()" class="inherit-width" value="Add file">
            </div>
            <div class="upload-block__item upload-block__item--big upload-block__note">
                Big images will be resized proportionally to 1600px width or 900px height
            </div>
            <div class="upload-block__item">
            </div>
        </div>
    </div>
</div>


</body>
</html>